global:
  scrape_interval: 30s
  scrape_timeout: 10s
  evaluation_interval: 1m

rule_files:
  - alert.yml

scrape_configs:
  - job_name: services
    metrics_path: /metrics
    static_configs:
      - targets:
          - 'ray_head:8090'