version: "3.8"
services:
  inspect:
    image: inspect
    container_name: inspect
    build:
      context: .
      dockerfile: services/inspect/Dockerfile
    ports:
      - "8890:8888" # Jupyter notebook is nice to have there
    env_file:
      - .env
      - inspect.env
    volumes:
      - /dev/shm:/dev/shm
      - $RUN_DIR_HOST:/dsa/notebooks/output
      - $DATA_DIR_HOST:/dsa/notebooks/data
    networks:
      - safe-tier
  calibration:
    image: calibration
    container_name: calibration
    build:
      context: .
      dockerfile: services/calibration/Dockerfile
    env_file:
      - .env
    volumes:
      - /dev/shm:/dev/shm
      - $RUN_DIR_HOST:/dsa/run
    networks:
      - safe-tier
  sum_visibilities:
    image: sum_visibilities
    container_name: sum_visibilities
    build:
      context: .
      dockerfile: services/sum_visibilities/Dockerfile
    env_file:
      - .env
    volumes:
      - /dev/shm:/dev/shm
      - $RUN_DIR_HOST:/dsa/run
    networks:
      - safe-tier
  simulate_rfi:
    image: simulate_rfi
    container_name: simulate_rfi
    build:
      context: .
      dockerfile: services/simulate_rfi/Dockerfile
    env_file:
      - .env
    volumes:
      - /dev/shm:/dev/shm
      - $RUN_DIR_HOST:/dsa/run
    networks:
      - safe-tier
  predict_fft:
    image: predict_fft
    container_name: predict_fft
    build:
      context: .
      dockerfile: services/predict_fft/Dockerfile
    env_file:
      - .env
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    runtime: nvidia
    volumes:
      - /dev/shm:/dev/shm
      - $RUN_DIR_HOST:/dsa/run
    networks:
      - safe-tier
  predict_dft:
    image: predict_dft
    container_name: predict_dft
    build:
      context: .
      dockerfile: services/predict_dft/Dockerfile
    env_file:
      - .env
    volumes:
      - /dev/shm:/dev/shm
      - $RUN_DIR_HOST:/dsa/run
    networks:
      - safe-tier
  compute_beam:
    image: compute_beam
    container_name: compute_beam
    build:
      context: .
      dockerfile: services/compute_beam/Dockerfile
    env_file:
      - .env
    volumes:
      - /dev/shm:/dev/shm
      - $RUN_DIR_HOST:/dsa/run
    networks:
      - safe-tier
  simulate_ionosphere:
    image: simulate_ionosphere
    container_name: simulate_ionosphere
    build:
      context: .
      dockerfile: services/simulate_ionosphere/Dockerfile
    env_file:
      - .env
    volumes:
      - /dev/shm:/dev/shm
      - $RUN_DIR_HOST:/dsa/run
    networks:
      - safe-tier
  prepare_run:
    image: prepare_run
    container_name: prepare_run
    build:
      context: .
      dockerfile: services/prepare_run/Dockerfile
    env_file:
      - .env
    volumes:
      - /dev/shm:/dev/shm
      - $RUN_DIR_HOST:/dsa/run
      - $DATA_DIR_HOST:/dsa/data
    networks:
      - safe-tier
networks:
  safe-tier:

