version: "3"
services:
  quartical:
    image: quartical
    container_name: quartical
    build:
      context: .
      dockerfile: services/quartical/Dockerfile
    ports:
      - "8888:8888" # Jupyter notebook is nice to have there
    env_file:
      - .env
    volumes:
      - /dev/shm:/dev/shm
      - $RUN_DIR_HOST:/dsa/run
      - $DATA_DIR_HOST:/dsa/data
      - $(realpath $INPUT_DIR_HOST):/dsa/input # relative path, hence we add $PWD, else should be absolution.
    networks:
      - safe-tier
networks:
  safe-tier:

