Tau-0006-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0013-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0015-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0027-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0045-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0046-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0056-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0001-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0018-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0020-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0025-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0052-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0019-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0034-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0036-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0047-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0049-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0051-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0053-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0008-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0012-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0038-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0044-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0042-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0058-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0011-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0022-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0037-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0040-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0032-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0039-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0004-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0010-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0029-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0030-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0009-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0017-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0033-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0050-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0054-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0000-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0014-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0016-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0059-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0060-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0003-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0007-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0031-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0055-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0002-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0043-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0057-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0005-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0026-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0028-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0035-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0048-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0021-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0023-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0024-model.fits filter=lfs diff=lfs merge=lfs -text
Tau-0041-model.fits filter=lfs diff=lfs merge=lfs -text
