version: "3"
services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: always
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention.time=30d'
      - '--storage.tsdb.retention.size=5GB'
    volumes:
      - ./prometheus/config:/etc/prometheus
      - prometheus-data:/prometheus
    env_file:
      - .env
    healthcheck:
      test: [ "CMD", "wget", "--spider", "http://localhost:9090/-/healthy" ]
      interval: 30s
      timeout: 10s
      retries: 3
  grafana:
    image: grafana/grafana-oss:10.2.2 # TODO: Consider updating
    container_name: grafana
    env_file:
      - .env
    environment:
      - GF_INSTALL_PLUGINS=grafana-clock-panel,grafana-simple-json-datasource
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD}
      - GF_PATHS_CONFIG=/etc/grafana/grafana.ini
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
    ports:
      - "3033:3000"
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana:/etc/grafana
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3000/api/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
  ray:
    image: ray
    container_name: ray
    build:
      context: ../..
      dockerfile: workflows/streaming_fm_distributed/ray/Dockerfile
    ports:
      - ${RAY_REDIS_PORT}:6379 # External redis for Ray
      - "8265:8265" # Ray Dashboard
      - "8890:8888" # Jupyter
    env_file:
      - .env
    cap_add:
      - SYS_PTRACE
#    extra_hosts:
#      ray_head: ${RAY_HEAD_IP}
    environment:
      - IS_RAY_HEAD=${IS_RAY_HEAD}
      - RAY_GRAFANA_HOST=http://grafana:3000
      - RAY_PROMETHEUS_HOST=http://prometheus:9090
      - RAY_GRAFANA_IFRAME_HOST=http://grafana:3000
      - XLA_FLAGS=${XLA_FLAGS}
      - PYTHONMALLOC=${PYTHONMALLOC}
      - DSA_CONTENT_SSH_USERNAME=${DSA_CONTENT_SSH_USERNAME}
    shm_size: '100gb'
    volumes:
#      - /dev/shm:/dev/shm
      - ${HOST_RUN_DIR}:/dsa/run
      - ~/.ssh:/root/.ssh:ro
volumes:
  grafana-data:
  prometheus-data:


