pydantic<2.0.0
numpy<2
ujson
astropy>=6.1.0
h5parm
tables
jax>=0.4.25
jaxlib
jaxns>=2.6.0
jaxopt
python-casacore
scipy
tomographic_kernel>=1.0.3
jupyter
tqdm
sympy
ducc0==0.34.0
imageio
geopandas
shapely
websockets
ray==2.37.0
