pydantic<2.0.0
numpy<2
ujson
astropy>=6.1.0
h5parm
tables
jax>=0.4.35
jaxlib
jaxns>=2.6.6
scipy
tomographic_kernel>=1.0.3
sympy
ducc0==0.35.0
imageio
ray==2.39.0
uvloop
websockets<14
geopandas
shapely
